# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Package

on:
  push:
    branches:
    - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Build Windows x64 with Gradle
      run: ./gradlew build -Pos=windows -Parch=x86_64

    - name: ZIP Windows x64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (Windows).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Build Windows ARM64 with Gradle
      run: ./gradlew build -Pos=windows -Parch=aarch64

    - name: ZIP Windows ARM64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (Windows ARM64).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Build Linux x64 with Gradle
      run: ./gradlew build -Pos=linux -Parch=x86_64

    - name: ZIP Linux x64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (Linux/Steam Deck).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Build Linux ARM64 with Gradle
      run: ./gradlew build -Pos=linux -Parch=aarch64

    - name: ZIP Linux ARM64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (Linux ARM64).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Build MacOS x64 with Gradle
      run: ./gradlew build -Pos=osx -Parch=x86_64

    - name: ZIP MacOS x64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (MacOS Intel).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Build MacOS ARM64 with Gradle
      run: ./gradlew build -Pos=osx -Parch=aarch64

    - name: ZIP MacOS ARM64 Build
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'Severed Chains (MacOS M1).zip'
        directory: 'build/libs'
        exclusions: '*.zip*'

    - name: Delete Tag and Release
      uses: dev-drprasad/delete-tag-and-release@v0.2.1
      with:
        delete_release: 'true'
        tag_name: 'devbuild'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: 'build/libs/windows-snapshot.zip,build/libs/linux-snapshot.zip,build/libs/macos-snapshot.zip'
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: ${{ github.sha }}
        name: 'Latest Development Build'
        allowUpdates: 'true'
        prerelease: 'true'
        tag: 'devbuild'
